body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    width: 100%;
}

.carousel-container {
    width: 100%;
   
    overflow: hidden;
    position: relative;
}


.carousel {
    display: flex;
    overflow: hidden;
    width: 100%;
}

.post {
    flex: 0 0 auto;
    width: 100%;
    display: none;
}

.post.active {
    display: block;
}

.post img {
    width: 20%;
    height: auto;
}

.post h2 {
    margin-top: 10px;
}

.post p {
    margin-top: 5px;
}

.prev, .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(255, 255, 255, 0.5);
    padding: 10px;
    border: none;
    cursor: pointer;
    z-index: 1;
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}

/* Estilos CSS para darle formato a tu plantilla */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
    padding: 20px;
    margin: 0;
}

header {
    background: #fff;
    color: #fff;
    padding: px 0; /* Revisar este valor */
    text-align: center;
}

nav.blanco {
   background-color:#0B7BFE; 
   color:#333; 
}
        
nav {
    display: flex;
    justify-content: center;
    background: #0B7BFE;
    padding: 5px 0; /* Reducir el padding vertical */
}

  
  nav a {
    color: #fff;
    padding: 0 5px;
    text-decoration: none;
  }
  
  nav a:hover {
    text-decoration: underline;
  }
  
  .container {
    max-width: 100%; /* Ancho del 80% de la pantalla */
    overflow: auto;
    margin: auto;
    padding: 0 20px;
    margin-bottom: 100px;
  }
  
  .poste {
    background: #fff;
    padding: 20px;
    margin: 20px 0;
  }
  
  .poste img {
    max-width: 200px;
    height: auto;
  }
  
  footer {
            background: #333;
            color: #fff;
            text-align: center;
            padding: 10px 0;
            position: absolute;
            bottom: 0;
            width: 100%;
        }
  h1 {
    color:#0B7BFE ;
    padding: 5px;
    text-align: center;
  }
  
  .pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  
  .pagination a {
    color: #0B7BFE;
    padding: 10px;
    text-decoration: none;
    border: 1px solid #0B7BFE;
    margin: 0 5px;
  }
  
  .pagination a.active {
    background-color: #0B7BFE;
    color: #fff;
  }
  
  .leer-mas {
    display: inline-block;
    background-color: #0B7BFE;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 10px;
  }

  .leer-mas:hover {
    background-color: #085FB3;
  }
    
  .slick-carousel {
    position: relative;
    width: 100%;
    height: 100%; /* Puedes ajustar esta altura según tus necesidades */
}


  .slick-slide img {
    width: 100%;
    height: auto;
  }

  /* Estilos para el texto y el botón dentro del carrusel */
  .carousel-text {
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translate(-50%, 0%);
    text-align: center;
    color: #fff;
    z-index: 1;
  }

  .carousel-text h2 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #fff;
  }

  .carousel-text p {
    font-size: 16px;
    margin-bottom: 20px;
  }

  .carousel-button {
    display: inline-block;
    background-color: #0B7BFE;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px;
    transition: background-color 0.3s ease;
  }

  .carousel-button:hover {
    background-color: #085FB3;
  }

  .icon {
    font-size: 24px;
    margin-right: 10px;
  }

  .post {
    background: #fff;
    padding: 20px;
    margin: 20px auto;
    width: 100%;
    max-width: 1200px;
  }

  .contenido {
    background: #fff;
    padding: 20px;
    margin: 20px auto;
    width: 100%;
    max-width: 1200px;
  }

  /* Estilos para el nuevo contenedor */
  .nuevo-contenedor {
    background: #f9f9f9;
    padding: 20px;
    margin: 20px auto;
    width: 80%;
    max-width: 1200px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  }
  
  
    .laser-container {
            position: relative;
            width: 100%;
            height: 100px;
            overflow: hidden;
        }

        .laser-beam {
            position: absolute;
            top: 50%;
            left: 0;
            width: 100%;
            height: 4px;
            background-color: rgba(0, 191, 255, 0.7); /* Color azul eléctrico */
            animation: beam 3s linear forwards;
        }

        @keyframes beam {
            0% {
                left: -100%;
            }
            50% {
                left: 100%;
            }
            100% {
                left: 100%;
            }
        }

    body1 {
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 15vh;
            background-color: black;
            overflow: hidden;
            position: relative;
        }
        
         body3 {
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 10vh;
            background-color: black;
            overflow: hidden;
            position: relative;
        }

        body4 {
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 25vh;
            background-color: black;
            overflow: hidden;
            position: relative;
        }

       /* Estilos para el texto y la línea láser en el encabezado */
.text-container {
    position: relative;
    color: white;
    font-size: 20px;
    overflow: hidden;
    white-space: nowrap;
    text-align: center;
}
        
     

        .linea-laser {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 2px; /* Grosor de la línea láser */
    background-color: #FFEB00; /* Color amarillo */
    animation: moverLinea 3s linear infinite; /* Animación de movimiento */
}

@keyframes moverLinea {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(100%);
    }
}

/* Animación de aumento de tamaño */
@keyframes increaseSize {
    0% {
        font-size: 20px;
    }
    50% {
        font-size: 100px; /* Tamaño máximo */
    }
    100% {
        font-size: 20px;
    }
}

/* Estilos para la promoción en dispositivos móviles */
@media (max-width: 768px) {
    .boton-promocion {
        width: 100%; /* Ancho completo */
    }
}

.servicios-container {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }
        .servicio {
            width: 48%; /* Ajusta este valor según sea necesario */
            margin-bottom: 20px;
        }
        .servicio img {
            max-width: 100%;
            height: auto;
        }
        
     body2 {
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 23vh; /* Aumentar la altura para que se muestre todo el botón */
        background-color: black;
        overflow: hidden;
        position: relative;
    }

    .boton-promocion {
        background-color: #FFEB00; /* Color amarillo */
        color: black; /* Color de texto */
        border: none;
        padding: 10px 20px;
        border-radius: 5px;
        font-size: 16px;
        cursor: pointer;
        transition: background-color 0.3s ease;
        position: absolute; /* Establece posición absoluta */
        top: 80%; /* Centra verticalmente */
        left: 50%; /* Centra horizontalmente */
        transform: translate(-50%, -50%); /* Centra completamente */
    }

    .boton-promocion:hover {
        background-color: #FFD700; /* Cambio de color al pasar el cursor */
    }

    .open-modal-button {
            background-color: #0041C2;
            color: white;
            padding: 10px 20px;
            border: none;
            cursor: pointer;
            font-size: 16px;
            margin: 20px;
        }

        .modal {
            display: none;
            position: fixed;
            z-index: 1;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            overflow: auto;
            background-color: rgb(0,0,0);
            background-color: rgba(0,0,0,0.4);
            padding-top: 60px;
        }

        .modal-content {
            background-color: #fefefe;
            margin: 5% auto;
            padding: 20px;
            border: 1px solid #888;
            width: 80%;
            max-width: 600px;
            position: relative;
        }

        .close {
            color: #aaa;
            float: right;
            font-size: 28px;
            font-weight: bold;
        }

        .close:hover,
        .close:focus {
            color: black;
            text-decoration: none;
            cursor: pointer;
        }



/* Estilo para el icono del chatbot */
df-messenger {
    --df-messenger-bot-message: #b6b6b6;
    --df-messenger-button-titlebar-color:  #47b5ff;
    --df-messenger-chat-background-color: #fafafa;
     --df-messenger-font-color: rgb(0, 0, 0);
    --df-messenger-send-icon: #000000;
    --df-messenger-user-message: #A7CE3F;
    --df-messenger-chat-window-height: 600px;
    --df-messenger-chat-window-width: 800px;
    }